In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [2]:
'''
!python -m pip install --upgrade seaborn
!python -m pip install --upgrade seaborn
!python -m pip install --upgrade seaborn
!python -m pip install --upgrade seaborn
'''

'\n!python -m pip install --upgrade seaborn\n!python -m pip install --upgrade seaborn\n!python -m pip install --upgrade seaborn\n!python -m pip install --upgrade seaborn\n'

### Basic EDA

In [3]:
movie_meta = pd.read_csv('tmdb_movies_metadata.csv')
movie_crew = pd.read_csv('tmdb_cast_crew.csv')

In [4]:
movie_meta.head()

,movie_id,title,original_language,release_date,budget,revenue,runtime,vote_average,vote_count,popularity,genres,keywords,production_companies,production_countries
0,19995,Avatar,en,2009-12-10,237000000,2.787965e+09,162.0,7.2,11800,150.437577,Action|Adventure|Fantasy|Science Fiction,culture clash|future|space war|space colony|so...,Ingenious Film Partners|Twentieth Century Fox ...,United States of America|United Kingdom
1,285,Pirates of the Caribbean: At World's End,en,2007-05-19,300000000,9.610000e+08,169.0,6.9,4500,139.082615,Adventure|Fantasy|Action,ocean|drug abuse|exotic island|east india trad...,Walt Disney Pictures|Jerry Bruckheimer Films|S...,United States of America
2,206647,Spectre,en,2015-10-26,245000000,8.806746e+08,148.0,6.3,4466,107.376788,Action|Adventure|Crime,spy|based on novel|secret agent|sequel|mi6|bri...,Columbia Pictures|Danjaq|B24,United Kingdom|United States of America
3,49026,The Dark Knight Rises,en,2012-07-16,250000000,1.084939e+09,165.0,7.6,9106,112.312950,Action|Crime|Drama|Thriller,dc comics|crime fighter|terrorist|secret ident...,Legendary Pictures|Warner Bros.|DC Entertainme...,United States of America
4,49529,John Carter,en,2012-03-07,260000000,2.841391e+08,132.0,6.1,2124,43.926995,Action|Adventure|Science Fiction,based on novel|mars|medallion|space travel|pri...,Walt Disney Pictures,United States of America

In [6]:
movie_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4795 entries, 0 to 4794
Data columns (total 14 columns):
movie_id                4795 non-null int64
title                   4795 non-null object
original_language       4795 non-null object
release_date            4794 non-null object
budget                  4795 non-null int64
revenue                 4795 non-null float64
runtime                 4793 non-null float64
vote_average            4795 non-null float64
vote_count              4795 non-null int64
popularity              4795 non-null float64
genres                  4767 non-null object
keywords                4386 non-null object
production_companies    4450 non-null object
production_countries    4624 non-null object
dtypes: float64(4), int64(3), object(7)
memory usage: 524.5+ KB

In [7]:
movie_meta.isna().sum()

movie_id                  0
title                     0
original_language         0
release_date              1
budget                    0
revenue                   0
runtime                   2
vote_average              0
vote_count                0
popularity                0
genres                   28
keywords                409
production_companies    345
production_countries    171
dtype: int64

In [8]:
movie_meta['genres'].fillna("" ,inplace = True)

In [11]:
movie_meta.describe()

,movie_id,budget,revenue,runtime,vote_average,vote_count,popularity
count,4795.000000,4.795000e+03,4.795000e+03,4793.000000,4795.000000,4795.000000,4795.000000
mean,57051.887800,2.909267e+07,8.239771e+07,106.915084,6.093306,691.360792,21.527415
std,88593.489117,4.073962e+07,1.629583e+08,22.570343,1.190313,1235.298140,31.831547
min,5.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,9010.500000,8.000000e+05,0.000000e+00,94.000000,5.600000,54.000000,4.723880
50%,14585.000000,1.500000e+07,1.925587e+07,104.000000,6.200000,236.000000,12.963328
75%,58533.000000,4.000000e+07,9.311911e+07,118.000000,6.800000,738.000000,28.352222
max,459488.000000,3.800000e+08,2.787965e+09,338.000000,10.000000,13752.000000,875.581305

In [12]:
movie_crew.head()

,movie_id,director,producer,actor_1,actor_2,actor_3
0,19995,James Cameron,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver
1,285,Gore Verbinski,Jerry Bruckheimer,Johnny Depp,Orlando Bloom,Keira Knightley
2,206647,Sam Mendes,Barbara Broccoli,Daniel Craig,Christoph Waltz,Léa Seydoux
3,49026,Christopher Nolan,Charles Roven,Christian Bale,Michael Caine,Gary Oldman
4,49529,Andrew Stanton,Colin Wilson,Taylor Kitsch,Lynn Collins,Samantha Morton

In [13]:
movie_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 6 columns):
movie_id    4803 non-null int64
director    4773 non-null object
producer    3780 non-null object
actor_1     4760 non-null object
actor_2     4750 non-null object
actor_3     4740 non-null object
dtypes: int64(1), object(5)
memory usage: 225.2+ KB

In [14]:
movie_crew.describe()

            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000

In [21]:
both = pd.merge(movie_meta,movie_crew)

In [22]:
both.columns

Index(['movie_id', 'title', 'original_language', 'release_date', 'budget',
       'revenue', 'runtime', 'vote_average', 'vote_count', 'popularity',
       'genres', 'keywords', 'production_companies', 'production_countries',
       'director', 'producer', 'actor_1', 'actor_2', 'actor_3'],
      dtype='object')

In [23]:
both.isna().sum()

movie_id                   0
title                      0
original_language          0
release_date               1
budget                     0
revenue                    0
runtime                    2
vote_average               0
vote_count                 0
popularity                 0
genres                     0
keywords                 409
production_companies     345
production_countries     171
director                  28
producer                1016
actor_1                   41
actor_2                   51
actor_3                   61
dtype: int64

### 1) What are the genres that have the highest average rating?

### a) Assuming the Seperation of Genres

In [15]:
from itertools import chain

cols = movie_meta.columns.difference(['genres'])
genres = movie_meta['genres'].str.split('|')

In [17]:
df =  (movie_meta.loc[movie_meta.index.repeat(genres.str.len()), cols]
         .assign(genres=list(chain.from_iterable(genres.tolist()))))

In [18]:
df['genres'][:10]

0             Action
0          Adventure
0            Fantasy
0    Science Fiction
1          Adventure
1            Fantasy
1             Action
2             Action
2          Adventure
2              Crime
Name: genres, dtype: object

In [19]:
df.groupby('genres')['vote_average'].mean().sort_values(ascending=False).head(10)

genres
History        6.719797
War            6.713889
Drama          6.390096
Music          6.355676
Foreign        6.352941
Animation      6.341453
Documentary    6.295413
Crime          6.274138
Romance        6.209854
Mystery        6.183908
Name: vote_average, dtype: float64

### b) Assuming the Conjunction of Genres

In [24]:
both.groupby('genres')['vote_average'].mean().sort_values(ascending=False).head(10)

genres
Western|Action|Drama|History                         9.3
Fantasy|Animation|Adventure                          8.2
Adventure|Fantasy|Animation                          8.2
Drama|Action|Crime|Thriller                          8.2
Fantasy|Drama|Crime                                  8.2
Action|Thriller|Science Fiction|Mystery|Adventure    8.1
Drama|Thriller|Mystery|Action                        8.0
Adventure|Comedy|Science Fiction|Family              8.0
Drama|Comedy|Animation|Family                        8.0
Drama|Documentary                                    8.0
Name: vote_average, dtype: float64

### c) Assuming the Max vote Average

In [25]:
mx = movie_meta["vote_average"].max()

In [26]:
movie_meta[movie_meta["vote_average"] == mx]['genres']

3518                  Comedy
4044     Comedy|Drama|Family
4244    Romance|Comedy|Drama
Name: genres, dtype: object

### 2) Who are the highly rated directors?

In [27]:
both.groupby('director')['vote_average'].mean().sort_values(ascending=False).head(10)

director
Gary Sinyor        10.00
Rohit Jugraj        9.50
Lance Hool          9.30
Floyd Mutrux        8.50
Tim McCanlies       8.45
John Cromwell       8.40
Jem Cohen           8.30
Damien Chazelle     8.30
Kevin Sullivan      8.20
Philip Saville      8.20
Name: vote_average, dtype: float64

### 3) Who are the highly rated actors?

In [31]:
actors = pd.melt(both , id_vars = 'vote_average',value_vars=['actor_1' ,'actor_2','actor_3'], value_name='actor')

In [32]:
actors.head()

   vote_average variable            actor
0           7.2  actor_1  Sam Worthington
1           6.9  actor_1      Johnny Depp
2           6.3  actor_1     Daniel Craig
3           7.6  actor_1   Christian Bale
4           6.1  actor_1    Taylor Kitsch

In [34]:
actors.tail()

       vote_average variable            actor
14380           6.6  actor_3  Peter Marquardt
14381           5.9  actor_3  Marsha Dietlein
14382           7.0  actor_3     Crystal Lowe
14383           5.7  actor_3      Bill Paxton
14384           6.3  actor_3    Corey Feldman

In [33]:
actors.groupby('actor')['vote_average'].mean().sort_values(ascending=False).head(10)

actor
Prunella Scales      10.0
Peter Facinelli      10.0
Eddie Mills          10.0
Peter Ustinov        10.0
Daniela Romo          9.3
Kelli Williams        8.5
Madeleine Carroll     8.4
Raymond Massey        8.4
Ronald Colman         8.4
Melissa Benoist       8.3
Name: vote_average, dtype: float64

### 4) Who are the most profitable directors?

In [39]:
both.groupby('director')['revenue'].sum().sort_values(ascending=False).head(10)

director
Steven Spielberg     9.147393e+09
Peter Jackson        6.498643e+09
James Cameron        5.883569e+09
Michael Bay          5.832525e+09
Christopher Nolan    4.227483e+09
Chris Columbus       3.725632e+09
Robert Zemeckis      3.590622e+09
George Lucas         3.339114e+09
Tim Burton           3.337418e+09
Ridley Scott         3.189558e+09
Name: revenue, dtype: float64

### 5) Who are the most profitable actors?

In [36]:
actors = pd.melt(both , id_vars = 'revenue',value_vars=['actor_1' ,'actor_2','actor_3'], value_name='actor')

In [37]:
actors.groupby('actor')['revenue'].mean().sort_values(ascending=False).head(10)

actor
Frances Fisher      1.845034e+09
Jonathan Groff      1.274219e+09
Idina Menzel        1.274219e+09
Neel Sethi          9.665506e+08
Alexander Gould     9.403355e+08
Ellen DeGeneres     9.403355e+08
Léa Seydoux         8.806746e+08
Chris Wedge         8.772448e+08
Louis C.K.          8.759583e+08
Eric Stonestreet    8.759583e+08
Name: revenue, dtype: float64

### 6) Which countries have higher average rating?

In [41]:
movie_meta['production_countries'].fillna("" ,inplace = True)

In [42]:
from itertools import chain

cols = movie_meta.columns.difference(['production_countries'])
countries = movie_meta['production_countries'].str.split('|')

In [43]:
df =  (movie_meta.loc[movie_meta.index.repeat(countries.str.len()), cols]
         .assign(countries=list(chain.from_iterable(countries.tolist()))))

In [49]:
df[df['countries'] == 'Egypt']

,budget,genres,keywords,movie_id,original_language,popularity,production_companies,release_date,revenue,runtime,title,vote_average,vote_count,countries
4163,0,Documentary|Drama|History,woman director,159037,ar,4.892203,Roast Beef Productions|Worldview Entertainment...,2013-06-07,0.0,88.0,The Square,7.8,55,Egypt

In [47]:
df['countries'].value_counts()

United States of America    3952
United Kingdom               635
Germany                      324
France                       306
Canada                       261
                             171
Australia                    110
Italy                         72
Spain                         71
China                         59
Japan                         58
India                         54
Hong Kong                     48
Ireland                       37
Mexico                        30
New Zealand                   28
Belgium                       25
Czech Republic                24
South Africa                  20
Denmark                       20
Russia                        19
Sweden                        19
Switzerland                   19
Netherlands                   18
South Korea                   18
Norway                        14
United Arab Emirates          14
Brazil                        13
Hungary                       13
Romania                       12
                            ...
Ecuador                        1
Fiji                           1
Cyprus                         1
Egypt                          1
Dominica                       1
Guadaloupe                     1
Panama                         1
Philippines                    1
Angola                         1
Cambodia                       1
Portugal                       1
Monaco                         1
Ukraine                        1
Jordan                         1
Lebanon                        1
Bolivia                        1
Aruba                          1
Guyana                         1
Serbia and Montenegro          1
Afghanistan                    1
Nigeria                        1
Serbia                         1
Tunisia                        1
Bosnia and Herzegovina         1
Cameroon                       1
Turkey                         1
Kyrgyz Republic                1
Dominican Republic             1
Kenya                          1
Libyan Arab Jamahiriya         1
Name: countries, Length: 89, dtype: int64

In [46]:
df.groupby('countries')['vote_average'].mean().sort_values(ascending=False).head(10)

countries
Egypt                     7.800000
Libyan Arab Jamahiriya    7.400000
Iran                      7.375000
Monaco                    7.300000
Indonesia                 7.300000
Cameroon                  7.300000
Austria                   7.083333
Dominica                  7.000000
Taiwan                    7.000000
Argentina                 6.988889
Name: vote_average, dtype: float64

### 7) Which countries produced more movies?

In [50]:
df['countries'].value_counts()[:5]

United States of America    3952
United Kingdom               635
Germany                      324
France                       306
Canada                       261
Name: countries, dtype: int64